<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <ngx-twitter-timeline 
    [data]="{sourceType: 'url', url: 'https://twitter.com/MoHFW_INDIA'}"
    [opts]="{tweetLimit: 10}"
></ngx-twitter-timeline>
<ngx-twitter-timeline 
    [data]="{sourceType: 'url', url: 'https://twitter.com/PMOIndia'}"
    [opts]="{tweetLimit: 10}"
></ngx-twitter-timeline>
<ngx-twitter-timeline 
    [data]="{sourceType: 'url', url: 'https://twitter.com/WHO'}"
    [opts]="{tweetLimit: 10}"
></ngx-twitter-timeline>
    </div>
  </div>
</div>