<div class="container " *ngIf="caseStudies">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <ion-card class="m-lg-5" >
        <ion-card-header>
          <ion-card-title><img src="https://img.icons8.com/color/48/000000/india.png"/> India</ion-card-title>
        </ion-card-header>
        <div class="p-lg-5 tracker d-flex flex-row justify-content-between">
          <div style="color: crimson;" class="pl-1 d-flex flex-column ">
            <p >{{caseStudies.totalconfirmed}}</p>
            <p >Confirmed</p>
            <p >+{{caseStudies.dailyconfirmed}}</p>
          </div>
          <div style="color: chartreuse;" class=" d-flex flex-column ">
            <p >{{caseStudies.totalrecovered}}</p>
            <p>Recovered</p>
            <p>+{{caseStudies.dailyrecovered}}</p>
          </div>
          <div class="pr-1 d-flex flex-column ">
            <p >{{caseStudies.totaldeceased}}</p>
            <p>Deceased</p>
            <p>+{{caseStudies.dailydeceased}}</p>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="col-lg-6 col-sm-12">
      <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [markers]="chartOptions.markers"
      [grid]="chartOptions.grid"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
    ></apx-chart>
    </div>
  </div>
</div>