  <div class="container">
  <div class="row">
    <div class="col-sm-10">
      <div class="row heading">
      <div class="col-sm-3 card">District</div>
      <div class="col-sm-3 card">Confirmed</div>
      <div class="col-sm-3 card">Recovered</div>
      <div class="col-sm-3 card">Deceased</div>
      </div>
      <div *ngFor="let d of districtDat | keyvalue"  class="col-sm-12 mt-4 ml-auto " >
        <div class="mt-4 row heading" >
        <div class="col-sm-3">{{d.key}}</div>
        <div class="col-sm-3 ">{{d.value.confirmed}} <p class="middletext"  style="color: brown;">+{{d.value.delta.confirmed}}</p> </div>
        <div class="col-sm-3 ">{{d.value.recovered}} <p class="middletext"  style="color: brown;">+{{d.value.delta.recovered}}</p> </div>
        <div class="col-sm-3 ">{{d.value.deceased}}  <p class="middletext"  style="color: brown;">+{{d.value.delta.deceased}}</p></div>
      </div>
    </div>
  </div>
</div>
